 {php include $this->template('header')}
{php include $this->template('personinfo')}
<style type="text/css">
.nav-tab1{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	text-align: center;
	font-size: 1.3em;
	padding: 3vmin;

}

.nav-tab1 div:nth-child(2){
	border-right: none;

}
.mybutton{
	display: inline; 
}
.mybutton img{
	width: 6vmin;
	margin-top: -1vmin;
	margin-right: 1vmin;
}
.left{
	margin-left: 38vmin;
	margin-right: 10vmin;
}
.btnpanel{
	position: fixed;
	bottom: 3vmin;

}
.mybutton{
	display: inline; 
}
.mybutton img{
	width: 6vmin;
	margin-top: -1vmin;
	margin-right: 1vmin;
}
.left{
	margin-left: 38vmin;
	margin-right: 10vmin;
}
.btnpanel{
	position: fixed;
	bottom: 3vmin;

}
</style>

<div class="nav-tab">
	<div data-flag=1 class="active">未分配</div>
	<div data-flag=2>已分配</div>
	<div data-flag=3>审批事项</div>
</div>
<div class="tab-content">
	<div id="tab1" >
		
				{loop $notStartedOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">
								{php echo $this->getOrderStatus($item['id'])}
							</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">距离生产开始：</span>
							<span class="item4">3天</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			
		
	</div>
	<div id="tab2" >
				{loop $startedOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">
								{php echo $this->getOrderStatus($item['id'])}
							</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}	
	</div>
	<div id="tab3">
		<div class="nav-tab nav-tab1">
			<div data-flag=1 class="active">补苗审批</div>
			<div data-flag=2>移苗审批</div>
		</div>
		<div class="tab-content">
			<div>
				{loop $addOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">补苗订单编号：</span>
							<span class="item2">{$item['id']}</span>
							<span class="label label-default">
								{if $item['confirm_status']==1}已通过
								{elseif $item['confirm_status']==2}已拒绝
								{else}未审批
								{/if}
							</span>
						</div>
						<div>
							<span class="item3">申请生产员：</span>
							<span class="item4">{$item['creator']}</span>
							<span class="item3">申请时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'confirmOg','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			</div>
			<div>
				
			</div>
		</div>
				
		
	</div>
</div>
<div class="btnpanel">
	<div class="mybutton left" onclick="window.location.href='{php echo $this->createMobileUrl("index",array("action"=>"repoManage"))}'">
		<img src="../addons/ly_product_manage/template/mobile/image/new_btn.png">管理生产线
	</div>
</div>
		<script type="text/javascript">


			$(function () {
				$('.tab-content').children().hide();
				console.log($('.tab-content').children())
				$('.tab-content').each(function () {
					$(this).children().eq(0).show();
				}
				)

				$('.nav-tab').children().on('click',function () {
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					var index=$(this).data('flag')-1;
					console.log(index);
					var showTab=$(this).parent().siblings('.tab-content').children().eq(index);
					activate(showTab);			
				})
			})
			function activate(el) {
				el.parent().children().hide();
				el.show();
			}
		</script>
		{php include $this->template('footer')}