{php include $this->template('header')}
{php include $this->template('personinfo')}
<style type="text/css">

.mybutton{
	display: inline; 
}
.mybutton img{
	width: 6vmin;
	margin-top: -1vmin;
	margin-right: 1vmin;
}
.left{
	margin-left: 17vmin;
	margin-right: 10vmin;
}
.btnpanel{
	position: fixed;
	bottom: 3vmin;

}
.divider2{
	background: lightgray;
	height: 2vmin;
}
</style>

<div class="nav-tab2">
	<div data-flag=1 class="active">订单定金</div>
	<div data-flag=2>订单尾款</div>
</div>
<div class="divider2"></div>
<div class="tab-content">
	<div id="tab1" >
		<div class="nav-tab2">
			<div data-flag=1 class="active">
				{if $user['role']==4}未确认
				{else}未支付
				{/if}
			</div>
			<div data-flag=2>
				{if $user['role']==4}已确认
				{else}已支付
				{/if}
			</div>
		</div>
		<div class="tab-content">
			<div>
				{loop $deposit_unpaid $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])} </span>
						</div>
						<div>
							<span class="item3">定金金额：</span>
							<span class="item4">{$item['price']}</span>
							<span class="item3">签约时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id'],'op'=>1))}'">
					</div>
				</div>
				{/loop}
			</div>
			<div>
				{loop $deposit_paid $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id'],'op'=>1))}'">
					</div>
				</div>
				{/loop}
			</div>  
		</div>
		
	</div>
	<div id="tab2" >
		<div class="nav-tab2">
			<div data-flag=1 class="active">
				{if $user['role']==4}未确认
				{else}未结款
				{/if}
			</div>
			<div data-flag=2>
				{if $user['role']==4}已确认
				{else}已结款
				{/if}
			</div>
		</div>
		<div class="tab-content">
			<div>
				{loop $restmoney_unpaid $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id'],'op'=>1))}'">
					</div>
				</div>
				{/loop}
			</div>
			<div>
				{loop $restmoney_paid $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id'],'op'=>1))}'">
					</div>
				</div>
				{/loop}
			</div>  
		</div>
		
	</div>
</div>

<div id="actionsheet" class="mui-popover mui-popover-bottom mui-popover-action ">
    
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
        <a href="{php echo $this->createMobileUrl('index',['action'=>'personalcenter'])} ">个人中心</a>
      </li>
     
    </ul>
    <!-- 取消菜单 -->
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
        <a href="#actionsheet"><b>取消</b></a>
      </li>
    </ul>
</div>
		{php include $this->template('footer')}