{php include $this->template('header')}
{php include $this->template('personinfo')}
<style type="text/css">

.mybutton{
	display: inline; 
}
.mybutton img{
	width: 6vmin;
	margin-top: -1vmin;
	margin-right: 1vmin;
}
.left{
	margin-left: 17vmin;
	margin-right: 10vmin;
}
.btnpanel{
	position: fixed;
	bottom: 3vmin;

}

</style>

<div class="nav-tab5">
	<div data-flag=1 class="active">新增</div>
	<div data-flag=2>审批</div>
	<div data-flag=3>签约</div>
	<div data-flag=4>生产</div>
	<div data-flag=5>完成</div>
</div>
<div class="tab-content">
	<div id="tab1" >
		<div class="nav-tab2">
			<div data-flag=1 class="active">未分配</div>
			<div data-flag=2>已分配</div>
		</div>
		<div class="tab-content">
			<div>
				{loop $order['new_assigning'] $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">未分配</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientname']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'assignorder','id'=>$item['id']))}'">
					</div>
				</div>
				<!-- <div class="list-item-goods">
					<span>品种：</span>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">Item 1 
							<span class="mui-badge mui-badge-primary">11</span>
						</li>
						<li class="mui-table-view-cell">Item 2 
							<span class="mui-badge mui-badge-success">22</span>
						</li>
						<li class="mui-table-view-cell">Item 3 
							<span class="mui-badge">33</span>
						</li>
					</ul>
				</div> -->
				{/loop}
			</div>
			<div>
				{loop $order['new_assigned'] $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">已分配</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'assignorder','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			</div>  
		</div>
		
	</div>
	<div id="tab2" >
		<div class="nav-tab2">
			<div data-flag=1 class="active">未审批</div>
			<div data-flag=2>已审批</div>
		</div>
		<div class="tab-content">
			<div>
				{loop $order['new_verifing'] $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">未审批</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'verifyorder','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			</div>
			<div>
				{loop $order['new_verified'] $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">
								{if $item['detailstatus']==5}已审批通过
								{else}已审批拒绝
								{/if}
							</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			</div>  
		</div>
		
	</div>
	<div >
		
				{loop $order['contractOrder'] $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			
	</div>
	<div >
		
				{loop $order['producingOrder'] $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			
	</div>
	<div >
		
				{loop $order['finishedOrder'] $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			
	</div>
</div>

<div id="actionsheet" class="mui-popover mui-popover-bottom mui-popover-action ">
    
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
        <a href="{php echo $this->createMobileUrl('index',['action'=>'personalcenter'])} ">个人中心</a>
      </li>
      <li class="mui-table-view-cell">
        <a href='{php echo $this->createMobileUrl("index",array("action"=>"neworder","type"=>"3"))}'>新增个人订单</a>
      </li>
    </ul>
    <!-- 取消菜单 -->
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
        <a href="#actionsheet"><b>取消</b></a>
      </li>
    </ul>
</div>

<script type="text/javascript">


			$(function () {
				$('.tab-content').children().hide();
				console.log($('.tab-content').children())
				$('.tab-content').each(function () {
					$(this).children().eq(0).show();
				}
				)

				$('.nav-tab').children().on('click',function () {
					$(this).parent().children().removeClass('active');
					$(this).addClass('active');
					var index=$(this).data('flag')-1;
					console.log(index);
					var showTab=$(this).parent().siblings('.tab-content').children().eq(index);
					activate(showTab);			
				})
			})
			function activate(el) {
				el.parent().children().hide();
				el.show();
			}
</script>
{php include $this->template('footer')}