{php include $this->template('header')}
<style type="text/css">
	html,body{
		width: 100%;
		height: 100%;
		background: #403b3b;
	}
	div{
		color: white;
	}
	.mui-checkbox input[type=checkbox]{
		top: -1px;
	}
	.mui-checkbox{
		margin-left: 30vmin;
	}
</style>

<div class="headerimg"><img src="../addons/ly_product_manage/template/mobile/image/edit_icon.png" ></div>
<div class="text-center line1"><span>操作人员：</span>{$user['name']}</div>
<div class="text-center line1"><span>申请人员：</span>{$name}</div>
<div class="text-center line1"><span>订单编号：</span>{$order['ordersn']}</div>
<form method="post" >
	<input type="hidden" name="id" value="{$id}">
    <div style="margin-left: 10vmin;margin-top: 30vmin;">
        <label style="color: gray;">请输入拒绝理由：</label>
    	<input style="background: #403b3b;border: 0;width:50vmin;border-bottom: 1px solid white;" type="text" name="reason" >
    </div>
    <div class="mui-input-row mui-checkbox mui-left">
  	<label>种苗缺货</label>
  	<input name="checkbox1" value="type1" type="checkbox">
  	
	</div>
	<div class="mui-input-row mui-checkbox mui-left"> 
		<label>订单填写错误</label>
  		<input name="checkbox2" value="type1" type="checkbox">
	</div>
	
</form>
<div class="back-btn"><img src="../addons/ly_product_manage/template/mobile/image/back_btn.png">确认提交</div>
<script type="text/javascript">
	$('.back-btn').on('click',function () {
		$('form').submit();
	})
</script>



{php include $this->template('footer')}