{php include $this->template('header')}

<form class="mui-input-group">
    <div class="mui-input-row">
        <label>姓名</label>
    <input type="text" class="mui-input-clear" placeholder="请输入">
    </div>
    <div class="mui-input-row">
        <label>电话</label>
        <input type="text" class="mui-input-clear" placeholder="请输入">
    </div>
    <div class="mui-button-row">
        <button type="button" class="mui-btn mui-btn-primary" >确认</button>
        <button type="button" class="mui-btn mui-btn-danger" >取消</button>
    </div>
</form>


{php include $this->template('footer')}