<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../addons/ly_product_manage/template/mobile/dist/css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="../addons/ly_product_manage/template/mobile/picker/css/mui.picker.css">
	<link rel="stylesheet" type="text/css" href="../addons/ly_product_manage/template/mobile/picker/css/mui.poppicker.css">
	<link rel="stylesheet" type="text/css" href="../addons/ly_product_manage/template/mobile/picker/css/mui.dtpicker.css">
	<link href="../app/resource/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../addons/ly_product_manage/template/mobile/dist/js/mui.min.js"></script>
	<script type="text/javascript" src="../addons/ly_product_manage/template/mobile/picker/js/mui.picker.js"></script>
	<script type="text/javascript" src="../addons/ly_product_manage/template/mobile/picker/js/mui.poppicker.js"></script>
	<script type="text/javascript" src="../addons/ly_product_manage/template/mobile/picker/js/mui.dtpicker.js"></script>
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="../addons/ly_product_manage/template/mobile/css/global.css">
</head>
<body>
