<style type="text/css">
	.ddxq-t{
	width: 90vw;
	height: auto;
	background-color: white;
	margin-top: 2vw;
	padding: 3vw 5vw;
}
.ddxq-t p{
	color: #cccccc;
}
.ddxq-t span{
	color: black;
}
.ddxq-jb{
	background-color: white;
	width: 100vw;
	height: auto;
	margin-top: 2vw;
}
.ddxq-gz{
	background-color: white;
	width: 100vw;
	height: auto;
	margin-top: 2vw;
	position: relative;
}
.ddxq-jb-l-jh{
	width: 50vw;
	height: auto;
	line-height:10vw;
	text-align: center;
	float: left;
	background-color: white;
}
.ddxq-jb-r-jh{
	width: 50vw;
	height: auto;
	line-height:10vw;
	text-align: center;
	float: left;
	background-color: white;
}
.ddxq-jb-l{
	width: 49vw;
	height: auto;
	line-height:10vw;
	text-align: center;
	float: left;
	background-color: white;
	color:#cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc ;
}
.ddxq-jb-r{
	width: 49vw;
	height: auto;
	line-height:10vw;
	text-align: center;
	float: left;
	background-color: white;
	color:#cccccc;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc ;
}
.ddxq-jbnr{
	padding: 20vw 0vw;
}
.ddxq-jbnr p{
	padding:2vw 5vw;
}
.ddxq-gznr{
	width: 96vw;
	height: auto;
	margin-top: 10vw;
	margin-left: 4vw;
}
.ddxq-gzk{
	width: 80vw;
	margin-left:5vw ;
	height: auto;
	border-left: 2px solid #cccccc;
	padding-left:5vw;
	padding-top: 2vw ;
	font-size: 3.5vw;
}
.ddxq-gzk p{
	position: relative;
	top: -9vw;
}
.ddxq-gzk-time{
	width: 42vw;
	height: auto;
	/*background-color: navajowhite;*/
	float: left;
}
.ddxq-gzk-nr{
	width: 38vw;
	height: auto;
	/*background-color: aqua;*/
	float: left;
}
</style>

<div class="ddxq-jb">
			<div class="ddxq-jb-l-jh">
				基本信息
			</div>
			<div class="ddxq-jb-r">
				跟踪信息
			</div>
			<div class="ddxq-jbnr">
				<p>购买品类：茄子</p>
				<p>购买规格：长茄/长茄一号</p>
				<p>购买数量：10000<span>株</span></p>
				<p>提苗日期：2018年5月23日</p>
				<p>购买人：王 强（寿光市种苗公司）</p>
				<p>联系电话：+86 186 7777 8888</p>
				<p>收货地址：山东省 潍坊市 寿光市 渤海路237号</p>
				<p>合同金额：6,000.00元</p>
				<p>电子合同：<a href="">尚未签订</a></p>

			</div>
</div>

