<div class="personinfo-header">
	<div>
		<img src="../addons/ly_product_manage/template/mobile/rate.jpg" class="avatar img-circle">
	</div>
	<div>
		<div class="name">{$user['name']}</div>
		<div class="role">角色：{if $user['role']==1}销售员{/if}{if $user['role']==2}销售经理{/if}{if $user['role']==4}财务经理{/if}{if $user['role']==3}财务人员{/if}</div>
	</div>
	<div>
		<img src="../addons/ly_product_manage/template/mobile/image/tool_btn.png" class="personalcenter-icon" onclick="actionsheetOperation();">
	</div>
	<script type="text/javascript">
		function actionsheetOperation() {
			mui('#actionsheet').popover('toggle');
		}
	</script>
</div>