  	{php include $this->template('header')}
{php include $this->template('personinfo')}
<style type="text/css">

.mybutton{
	display: inline; 
}
.mybutton img{
	width: 6vmin;
	margin-top: -1vmin;
	margin-right: 1vmin;
}
.left{
	margin-left: 38vmin;
	margin-right: 10vmin;
}
.btnpanel{
	position: fixed;
	bottom: 3vmin;

}

</style>


<div class="nav-tab5">
	<div data-flag=1 class="active">新增</div>
	<div data-flag=2>审批</div>
	<div data-flag=3>签约</div>
	<div data-flag=4>生产</div>
	<div data-flag=5>完成</div>
</div>
<div class="tab-content">
	<div>
		
				{loop $newOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">
								{php echo getOrderStatus($item['id'])}
							</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
			
		
	</div>
	<div>
				{loop $verifiedOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">
								{if $item['detailstatus']==6}已拒绝
								{else}已通过
								{/if}
							</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}	
	</div>
	<div >
		
				{loop $contractOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
		
	</div>
	<div>
			{loop $producingOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
				{/loop}
	</div>
	<div>
		{loop $finishedOrder $list $item}
				<div class="list-item">
					<div>
						<div >
							<span class="item1">订单编号：</span>
							<span class="item2">{$item['ordersn']}</span>
							<span class="label label-default">{php echo getOrderStatus($item['id'])}</span>
						</div>
						<div>
							<span class="item3">购买人：</span>
							<span class="item4">{$item['clientid']}</span>
							<span class="item3">下单时间：</span>
							<span class="item4">{php echo date("Y-m-d",$item['create_time'])}</span>
						</div>
					</div>
					<div>
						<img src="../addons/ly_product_manage/template/mobile/image/more_btn.png" style="width: 100%;height: 80%;" onclick="window.location.href='{php echo $this->createMobileUrl('index',array('action'=>'detail','id'=>$item['id']))}'">
					</div>
				</div>
			{/loop}
	</div>
</div>

<div id="actionsheet" class="mui-popover mui-popover-bottom mui-popover-action ">
    
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
        <a href="{php echo $this->createMobileUrl('index',['action'=>'personalcenter'])} ">个人中心</a>
      </li>
      <li class="mui-table-view-cell">
        <a href='{php echo $this->createMobileUrl("index",array("action"=>"neworder","type"=>"2"))}'>新增个人订单</a>
      </li>
    </ul>
    <!-- 取消菜单 -->
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
        <a href="#actionsheet"><b>取消</b></a>
      </li>
    </ul>
</div>

		{php include $this->template('footer')}